# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Topics/The while and do-while loops/Theory/build/
/Topics/The while and do-while loops/Theory/out/
/Topics/The while and do-while loops/Theory/out/production/classes/